<!DOCTYPE html>
<html lang="es">
  <head>
    {% if error or message %}
<div class="error-message">
    {% if error %}
      <div class="error">{{error}}</div>
    {% endif %}
    {% if message %}
      <div class="message">{{message}}</div>
    {% endif %}
</div>
{% endif %}
    {% load static %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static './style.css' %}" />

    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montagu+Slab&family=Roboto&family=Ubuntu&display=swap"
      rel="stylesheet"
    />

    <link rel="icon" type="image/x-icon" href="{% static './img/favicon.ico' %}">
    <!-- Material Icon -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <!-- Scripts -->
    <script src="{% static 'index.js' %}" defer></script>
    <title>{Código Creativo}</title>
  </head>
  <body>
    <!-- NavBar -->
    <nav>
      <div><h1>{Código Creativo}</h1><span class="material-symbols-outlined">
        menu
      </span></div>
      
      <div>

        <ul>
          <li><a href="{% url 'inicio' %}">inicio</a></li>
          <li><a href="">Acerca de mi</a></li>
          <li><a href="{% url 'allPosts' %}">Blogs</a></li>
          {% if user.is_authenticated %}
          <li><a href="{% url 'crearBlog' %}">Crear post</a></li>
          <li><a href="{% url 'misPosts' %}">Mis Post</a></li>
          <li><a href="{% url 'inboxMsj' %}">✉</a></li>
          
          <li><a href="{% url 'Logout' %}">Salir</a></li>
          <li class="menu-usuario">
            <a href="{% url 'EditarPerfil' %}">⚙</a>
            <div><a href="{% url 'getPerfil' user=user.id %}" >{{user.username}}</a></div>

            {% with avatar=user.avatar_set.first %}
              {% if avatar %}
              <a href="{% url 'setAvatar' %}">
                <img class="editable" src="{{avatar.imagen.url}}" alt="" style="aspect-ratio: 1/1;"/>
              </a>

              {% else %}
              <a href="{% url 'setAvatar' %}">
                <img class="editable" src="{% static 'img/default-avatar.jpg' %}" alt="" style="aspect-ratio: 1/1;"/>
              </a>
              {% endif %}
            {% endwith %}
           
          
          </li>
          {% else %}
          <li><a href="{% url 'Registrame' %}">Registrarme</a></li>
          <li><a href="{% url 'Login' %}">Iniciar Sesión</a></li>
          {% endif %}
          
        </ul>
        <form action="{% url 'searchPost' %}" method="POST">
          {% csrf_token %}
          <input class = 'search' type="text" name = 'term' minlength="4" placeholder="🔎 Buscar post">
        </form>
      </div>
    </nav>
    <!-- NavBar -->

    <!-- Main -->
    <main>
        {% block main %} {% endblock %}
    </main>
    <!-- Main -->

    <!-- Footer-->
    <footer>
      <div>

      </div>
      <div>{Código Creativo}</div>
    </footer>
    <!-- Footer-->
  </body>
</html>
