{% extends "base.html" %} {% load static %} {% block main %}

<section class="container-form">
    <h1>Crear Post</h1>
    {% if error %}
    {{ error }}
    {% endif %}
    <form action="{% url 'crearBlog' %}" method="post" enctype="multipart/form-data">
         {% csrf_token %}

         {{ forms.as_p }}
         {{ forms.media }}


        <!-- <label>
            Titulo:
        </label>
            <input type="text" name="title" maxlength="200">
        <label >Subtitulo:
        </label>
            <input type="text" name="subtitle" maxlength="100">
        <label>
            Descripción:
        </label>
            <input type="text" name="description" maxlength="400"> -->
        <button type="submit">Enviar</button>
        
    </form>
</section>
{% endblock %}