{% extends "base.html" %} {% load static %} {% block main %}
<section class="container-form">
  <form action="{% url 'setAvatar' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% with avatar=user.avatar_set.first %}
      {% if avatar %}
        <img src="{{avatar.imagen.url}}" alt="{{user.username}}" width="50%" style="border-radius:100%;aspect-ratio: 1/1;align-self: center;"/>
      {% else %}
        <img  src="{% static 'img/default-avatar.jpg' %}" alt="" />
      {% endif %}
    {% endwith %}

    {{ forms.as_p }} 
    <button type="submit">Asignar Avatar</button>
  </form>

  <form action="" method="POST">
    {% csrf_token %}
      {{ miformulario.as_p }}
    <button type="submit">Enviar!</button>
  </form>

  <form action="" method="POST">
    {% csrf_token %}
      {{ urlForm.as_p }}
    <button type="submit">Enviar!</button>
  </form>
</section>
{% endblock %}
