{% extends "base.html" %} {% load static %} {% block main %} 



{% if data|length == 0 %}
<section class="sin-post">
  <div>
    <p>No hay post para mostrar</p>

    {% if user.is_authenticated %}
    <a href="{% url 'crearBlog' %}" class="btn">Crear post</a>
    {% else %}
    <a href="{% url 'Registrame' %}" class="btn">Registrarse</a>
    <a href="{% url 'Login' %}" class="btn">Iniciar Sesión</a>

    {% endif %}
  </div>
</section>
{% endif%} {% for post in data %} {% if forloop.counter == 1 %}

<section class="nota-principal">
  <div class="nota-principal-hero">
    <img src="{{post.imagen.url}}" alt="hero" />
  </div>
  <div class="nota-principal-contenido-gradient"></div>
  <div class="nota-principal-contenido">
    <h2>{{post.title}}</h2>
    <h3>{{post.subtitle}}</h3>
    <span>Autor: {{post.author}} - Fecha: {{post.entryDate}}</span>
    <p>{{post.description}}</p>
    <footer>
      <a href="{% url 'getPost' id=post.id %}" class="btn">Leer mas</a>
      {% if user.is_authenticated %}
      <a href="#" class="btn">✉ Contactar al autor</a>
      {% endif %}
    </footer>
  </div>
</section>

{% endif%} {% endfor %} {% if data|length > 1 %}
<section class="notas-secundarias">
  {% for post in data %} {% if forloop.counter > 1 and forloop.counter <= 9 %}
  <div class="card">
    <img src="{{post.imagen.url}}" alt="" />
    <h2>{{post.title}}</h2>
    <span>Autor: {{post.author}} - Fecha: {{post.entryDate}}</span>
    <p>{{post.description}}</p>
    <footer>
      <a href="{% url 'getPost' id=post.id %}" class="btn">Leer mas</a>
      {% if user.is_authenticated %}
      <a href="#" class="btn">✉ Contactar al autor</a>
      {% endif %}
    </footer>
  
  </div>
  {% endif %} {% endfor %}
</section>
{% endif %}  {% endblock %}
