{% extends "base.html" %} {% load static %} {% block main %} 


{% if data %}
<div class="posts-list">
  {% for post in data %}
  <div class="post-item">
    <div class="resumen">
      <img src="{{post.imagen.url}}" alt="" />
      <h1>{{post.title}}</h1>
    </div>
    <div class="action">
      <a href="{% url 'editarPost' id=post.id %}" class="primary">Editar</a>
      <a href="javascript:void(0)" class="secondary" data-data={{post.id}}>Eliminar</a>
      <a href="{% url 'getPost' id=post.id %}" class="ver">Ver</a>
    </div>
  </div>
  {% endfor %}
</div>
{% else %}
<p>Sin post</p>
{% endif %} {% endblock %}