{% extends "base.html" %} {% load static %} {% block main %}


<div class="sobre-mi">
    <div class="Sobremi">

        <img src="{% static 'img/sebastian-santos.jpeg' %}" alt="Sebastian Santos"
            style="border-radius: 100%">
        <h2>Hola! 👋, mi nombre es Sebastian Santos</h2>
        <h3>Bienvenido a {Código Creativo}</h3>

        <P>
            Soy Sebastian, el entusiasta creador detrás de este blog. Desde muy joven, la informática ha sido mi
            pasión. Solía pasar horas desarrollando aplicaciones para satisfacer mis propias necesidades, y a
            medida que crecía, mi amor por la tecnología y el desarrollo solo se fortalecía.
        </P>

        <p>
            En Código Creativo, te invito a explorar un mundo donde la tecnología se encuentra con la
            creatividad. Este es un espacio diseñado especialmente para desarrolladores y apasionados del mundo
            de la programación. Aquí, compartiremos noticias, tendencias y descubrimientos emocionantes en el
            campo de la tecnología y el desarrollo.
        </p>

        <h3>Mis gustos: </h3>
        <p>
            Fuera del mundo de la tecnología, también tengo otros intereses que me hacen vibrar. La música es una
            parte fundamental de mi vida; encuentro inspiración en sus notas y ritmos. La numismática, el
            estudio de las monedas y su historia, es otro de mis pasatiempos favoritos. Además, me apasiona la
            historia y el desarrollo, y estoy emocionado por explorar cómo la tecnología y la creatividad pueden
            moldear el futuro y reescribir el pasado.
        </p>
        </p>

        <h3>Objetivos: </h3>
        <p>
            Mi objetivo es simple pero ambicioso: convertir mi pasión por el desarrollo en mi carrera. A través
            de Código Creativo, espero compartir mi viaje, descubrimientos y aprendizajes contigo. A medida que
            avanzo en este emocionante camino, espero que puedas encontrar inspiración y recursos valiosos en
            este blog, ya seas un desarrollador experimentado o simplemente alguien que comparte mi amor por la
            tecnología y la creatividad.
        </p>

        <h3>Agradecimientos: </h3>
        <p>
            ¡Gracias por unirte a mí en esta aventura en Código Creativo! Espero que disfrutes explorando el
            mundo de la tecnología y el desarrollo conmigo.
        </p>
        <p>
            No dudes en ponerte en contacto conmigo si tienes preguntas, sugerencias o simplemente quieres
            charlar sobre tecnología, música, numismática o cualquier otro tema que nos apasione.
        </p>
        <p>
            ¡Bienvenidos, exploradores de Código Creativo!
        </p>

    </div>
</div>

{% endblock %}